@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    background: rgb(144,144,144);
    background: radial-gradient(circle, rgba(144,144,144,1) 12%, rgba(59,59,59,1) 69%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62%;
    font-family: 'Montserrat', sans-serif;
}

/* Home Page */
h1 {
    font-size: 7rem;
    padding-top: 20rem;
    text-align: center;
    justify-content: center;
    color: rgb(34,193,195)
}

h3 {
    font-size: 6rem;
    padding-top: 1px;
    text-align: center;
    justify-content: center;
    color: rgba(248,255,0,1);
}
.quiz {
    padding-top: 10px;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    flex-direction: column;

}

.btn1 {
    display: grid;
    height: 70px;
    width: 180px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 28%, rgba(45,164,253,1) 100%);
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin: auto;
    top: 38rem;
    left: 0;
    right: 0;
    place-items: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn2 {
    display: grid;
    height: 70px;
    width: 180px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 28%, rgba(45,164,253,1) 100%);
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin: auto;
    top: 47rem;
    left: 0;
    right: 0;
    place-items: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn1:hover {
    cursor: pointer;
    box-shadow: 0 0 .4rem 0 rgba(45,164,253,0.5);
    transition: transform 150ms;
    transform: scale(1.05);
}

#score {
    background: rgb(186,203,45);
    background: linear-gradient(0deg, rgba(186,203,45,1) 28%,
    rgba(248,255,0,1) 100%);
}

#score:hover {
    cursor: pointer;
    box-shadow: 0 0 .4rem 0  rgba(230,255,25,0.5);
    transition: transform 150ms;
    transform: scale(1.05);
}

/* Quiz CSS */
