@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    background: rgb(144,144,144);
    background: radial-gradient(circle, rgba(144,144,144,1) 12%, rgba(59,59,59,1) 69%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62%;
    font-family: 'Montserrat', sans-serif;
}

/* Home Page */
h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    display: grid;
    height: 80px;
    width: 230px;
    background: #fb7060;
    font-size: 2.9rem;
    padding: 2rem 0;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    border-radius: 4px;
    color: white;
    letter-spacing: 1.5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,57,35,1);
    transition: transform 150ms;
    transform: scale(1.07);
}

#newsletter {
    background: rgba(66,134,255,1);
}

#newsletter:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0,92,255,1);
    transition: transform 150ms;
    transform: scale(1.07);
}

.fa-play {
    font-size: 2rem;
    margin-left: 1rem;
}